 /* #Form{
    background-image: url(https://th.bing.com/th/id/R.05e3817156596fcb1cd22786f781d227?rik=v1VlWfkIzerSvw&pid=ImgRaw&r=0);
    border: 2px double blue;
   display: inline-block;
   text-align: center;
   margin-left: 36%; */
   /* margin-right: 35%; */

/* } 

 h1{
   color: green;
}  */